<CustomTable Items="TodosSorted">
    <TableHeader>
        <GridColum ColumTitle="Date"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Date"))" />
        <GridColum ColumTitle="Label"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Label"))" />
        <GridColum ColumTitle="Description"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Description"))" />
        <GridColum ColumTitle="Priority"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Priority"))" />
    </TableHeader>
    <RowTemplate Context="t">

        <td>@t.LocalTime</td>
        <td>@t.Label</td>
        <td>@t.Description <br /><em class="text-warning">Status: @t.Status</em></td>
        <td class="text-warning">
            @t.Priority <br />
            <a class="btn btn-primary btn-sm"
               href=@($"update/{IDset = t.Id.ToString()}")>
                Mod.
            </a>
        </td>
    </RowTemplate>
</CustomTable>

@code {
    public string IDset { get; set; }
    MongoCRUD mydb = new MongoCRUD("MyMongoDb");
    TodoModel todo = new TodoModel();
    List<TodoModel> Todos;
    List<TodoModel> TodosSorted;
    protected override Task OnInitializedAsync()
    {
        GetData();
        return base.OnInitializedAsync();
    }
    public void GetData()
    {
        
        Todos = mydb.LoadRecords<TodoModel>(todo.Table);
        if (TodosSorted == null)
        {
            TodosSorted = Todos;
        }
    }
    private void SearchTermChanged(ChangeEventArgs changeEventArgs, string columTitle)
    {

        string searchText = changeEventArgs.Value.ToString();
        Console.WriteLine(searchText);
        if (columTitle == "Date")
        {
            TodosSorted = Todos.Where(t => t.LocalTime.Contains
            (searchText)).ToList();
        }
        if (columTitle == "Label")
        {
            TodosSorted = Todos.Where(t => t.Label.Contains
            (searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        if (columTitle == "Description")
        {
            TodosSorted = Todos.Where(t => t.Description.Contains
            (searchText)).ToList();
        }
        if (columTitle == "Priority")
        {
            TodosSorted = Todos.Where(t => t.Priority.Contains
            (searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
    
}
