<CustomTable Items="TodosSorted">
    <TableHeader>
        <ColumHeader ColumTitle="Date" />
        <GridColum ColumTitle="Label"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Label"))" />
        <GridColum ColumTitle="Desc"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Description"))" />
        <GridColum ColumTitle="Prior"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Priority"))" />
        <GridColum ColumTitle="Stat"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Status"))" />
    </TableHeader>
    <RowTemplate Context="t">

        <td>@t.LocalTime.Substring(0,10)<br />Clock: @t.LocalTime.Substring(10)</td>
        <td @onmouseover="(()=>IDset = t.Id.ToString())">
            <a class="nav-link"
               href=@($"update/{IDset}")>
                @t.Label
            </a>
        </td>
        <td>@t.Description</td>
        <td class="text-warning">
            @t.Priority
        </td>
        <td class="text-warning">
            @t.Status
        </td>
    </RowTemplate>
</CustomTable>

@code {
    public string IDset { get; set; }
    MongoCRUD mydb = new MongoCRUD("MyMongoDb");
    TodoModel todo = new TodoModel();
    List<TodoModel> Todos;
    List<TodoModel> TodosSorted;
    Tables table = new Tables();
    protected override Task OnInitializedAsync()
    {
        GetData();
        return base.OnInitializedAsync();
    }
    public void GetData()
    {
        
        Todos = mydb.LoadRecords<TodoModel>(table.Todo);
        if (TodosSorted == null)
        {
            TodosSorted = Todos;
        }
    }
    private void SearchTermChanged(ChangeEventArgs changeEventArgs, string columTitle)
    {

        string searchText = changeEventArgs.Value.ToString();
        Console.WriteLine(searchText);
        if (columTitle == "Date")
        {
            TodosSorted = Todos.Where(t => t.LocalTime.Contains
            (searchText)).ToList();
        }
        if (columTitle == "Label")
        {
            TodosSorted = Todos.Where(t => t.Label.Contains
            (searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        if (columTitle == "Description")
        {
            TodosSorted = Todos.Where(t => t.Description.Contains
            (searchText)).ToList();
        }
        if (columTitle == "Priority")
        {
            TodosSorted = Todos.Where(t => t.Priority.Contains
            (searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        if (columTitle == "Status")
        {
            TodosSorted = Todos.Where(t => t.Status.Contains
            (searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
    
}
