<CustomTable Items="TodosSorted">
    <TableHeader>
        <GridColum ColumTitle="Label"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Label"))" />
        <GridColum ColumTitle="Description"
                   OnSearchTextChange="@(e =>SearchTermChanged(e, "Description"))" />
    </TableHeader>
    <RowTemplate Context="t">
        <td>@t.Date</td>
        <td>@t.Label</td>
        <td>@t.Description</td>
    </RowTemplate>
</CustomTable>

@code {
    MongoCRUD mydb = new MongoCRUD("MyMongoDb");
    TodoModel todo = new TodoModel();
    List<TodoModel> Todos;
    List<TodoModel> TodosSorted;
    protected override Task OnInitializedAsync()
    {
        GetData();
        return base.OnInitializedAsync();
    }
    public void GetData()
    {
        //if (ListAll != null)
        //{
        //    ListAll.Clear();
        //}
        Todos = mydb.LoadRecords<TodoModel>(todo.Table);
        if (TodosSorted == null)
        {
            TodosSorted = Todos;
        }
    }
    private void SearchTermChanged(ChangeEventArgs changeEventArgs, string columTitle)
    {

        string searchText = changeEventArgs.Value.ToString();
        Console.WriteLine(searchText);
        if (columTitle == "Label")
        {
            TodosSorted = Todos.Where(t => t.Label.Contains
            (searchText, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        if (columTitle == "Description")
        {
            TodosSorted = Todos.Where(t => t.Description.Contains
            (searchText)).ToList();
        }
    }
}
