@page "/todoapp/"
    <Header Title="ToDo App" SubTitle="Blazor server study purpose"/>
<EditForm Model="@todo">
    <h5>Add ToDo</h5>
    <div class="row">

        <div class="col-2">

            <label>Todo:</label><br /><br />
            <label>Description:</label><br /><br /><br />
            <label>Status:</label>
        </div>
        <div class="col-4">
            <InputText id="Label" @bind-Value="todo.Label" style="background-color:gray"/><br /><br />
            <InputTextArea id="Description" @bind-Value="todo.Description" style="background-color:gray"/><br /><br />
            <InputSelect id="Priority" @bind-Value="todo.Priority" style="background-color:gray">
                <option value=""></option>
                <option value="Hi">High</option>
                <option value="Med">Medium</option>
                <option value="Lo">Low</option>
            </InputSelect>
            <InputSelect id="Status" @bind-Value="todo.Status" style="background-color:gray">
                <option value=""></option>
                <option value="Todo">Todo</option>
                <option value="Started">Started</option>
                <option value="Finished">Finished</option>
            </InputSelect>
        </div>
        <div class="col-4">
            <button class="btn btn-primary btn-sm" 
                    type="submit" 
                    @onclick="AddRecord">Submit</button>
        </div>
    </div>

</EditForm>
    <br />
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Mod.</th>
                <th scope="col">Date</th>
                <th scope="col">Label</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in ListAll)
            {
                if (r.Priority == "Hi")
                {
                    <tr class="text-danger">
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href=@($"update/{IDset = r.Id.ToString()}")>
                                Mod.
                            </a>
                        </td>
                        <td>@r.Date.ToString("yyyy.MM.dd")</td>
                        <td>@r.Label</td>
                        <td>@r.Description</td>
                        @if (r.Status == "Finished")
                        {

                            <td>
                                <button class="btn btn-success btn-sm"
                                        value="@r.Id"
                                        @onclick="@(()=>IDset = r.Id.ToString())">
                                    Sel.
                                </button>
                                <button class="btn btn-primary" @onclick="DeleteRecord">x</button>
                            </td>
                        }
                        else
                        {
                            <td>@r.Priority<br />@r.Status</td>
                        }

                    </tr>
                }
                else
                {
                    <tr class="text-primary">
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href=@($"update/{IDset = r.Id.ToString()}")>
                                Mod.
                            </a>
                        </td>
                        <td>@r.Date.ToString("yyyy.MM.dd")</td>
                        <td>@r.Label</td>
                        <td>@r.Description</td>
                        @if (r.Status == "Finished")
                        {

                            <td>
                                <button class="btn btn-success btn-sm"
                                        value="@r.Id"
                                        @onclick="@(()=>IDset = r.Id.ToString())">
                                    Sel.
                                </button>
                                <button class="btn btn-danger" @onclick="DeleteRecord">x</button>
                            </td>

                        }
                        else
                        {
                            <td>@r.Priority<br />@r.Status</td>
                        }
                    </tr>
                }



            }
        </tbody>
    </table>

@code {
    MongoCRUD mydb = new MongoCRUD("MyMongoDb");
    TodoModel todo = new TodoModel();
    List<TodoModel> ListAll;
    [Parameter]
    public string IDset { get; set; }
    protected override Task OnInitializedAsync()
    {
        GetData();
        return base.OnInitializedAsync();
    }
    public void GetData()
    {
        if (ListAll != null)
        {
            ListAll.Clear();
        }
        ListAll = mydb.LoadRecords<TodoModel>(todo.Table);
    }
    public void AddRecord()
    {
        DateTime date = DateTime.Now;
        Console.WriteLine($"     Record: {todo.Label} | {todo.Description}");
        mydb.InsertRecord(todo.Table,
                            new TodoModel
                            {
                                Date = date,
                                Label = todo.Label,
                                Description = todo.Description,
                                Priority = todo.Priority,
                                Status = todo.Status
                            });
        todo.Label = "";
        todo.Description = "";
        todo.Priority = "";
        todo.Status = "";
        OnInitializedAsync();
    }
    public void DeleteRecord()
    {
        Guid id = new Guid(IDset);
        Console.WriteLine($"     Delete ID: {IDset}");
        mydb.DeleteRecord<TodoModel>(todo.Table, id);
        OnInitializedAsync();

    }

}
